@import './border.styl';
@import './util.styl';
@import './text.styl';
@import './background-color.styl';
@import './material-icons.styl';
@import '../fonts/icomoon/style.css';
//@import './origination.styl';
//@import './components.styl';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* 
  margin 0 
  padding 0
li 
  list-style none
img 
  vertical-align middle
  border-style none
a 
  text-decoration none
  color #2196f3
  transition .3s

